.tasks {
    padding-left: 0;
}

.tasks__list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.tasks__list--hidden {
    display: none;
}

.tasks__taskName {
    word-break: break-word;
}

.tasks__taskName--done {
    text-decoration: line-through;
}

.tasks__button {
    height: 30px;
    width: 30px;
    background-color: hsl(348, 83%, 47%);
    color: white;
    border: none;
    cursor: pointer;
}

.tasks__button:hover {
    background-color: hsl(348, 83%, 57%);
    transition: 1s;
}

.tasks__button:active {
    background-color: hsl(348, 83%, 67%);
    border: 3px solid hsl(348, 92%, 15%);
}

.tasks__button--done {
    background-color: hsl(120, 100%, 20%);
}

.tasks__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasks__button--done:active {
    background-color: hsl(120, 100%, 40%);
    border: 3px solid hsl(120, 95%, 8%);
}